.profile__name-box {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  @media screen and (max-width: 560px) {
    .profile__name-box {
      max-width: 280px;
    }
  }

  @media screen and (max-width: 390px) {
    .profile__name-box {
      max-width: 217px;
      margin: auto;
    }
  }